<!doctype html>
    <html lang="en">

    <head>
        <title>Actualizar Producto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="imagenes/Logo.png">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html"><b>HOME</b></a></li>
                    <li><a href="producto-create.html"><b>AGREGAR PRODUCTO</b></a>
                    <li><a href="productos-update.html"><b>EDITAR PRODUCTO</b></a></li>
                    <li><a href="productos-delete.html" class="delete"><b>ELIMINAR PRODUCTO</b></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="header-div">
            <h1 id="app">EDITANDO {{nombre}}</h1>
        </div>
            <div class="container" id="app">
                <form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
                    <p>Precio:{{precio}}</p>
                    <div class="mb-3">
                        <label for="id">Id</label>
                        <input type="number" name="id" id="id" disabled v-model="id">
                    </div>
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" v-model="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" v-model="precio">
                    </div>
                    <div class="mb-3">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" id="stock" v-model="stock">
                    </div>
                    <div class="mb-3">
                        <label for="imagen">Imagen</label>
                        <input type="text" name="imagen" id="imagen" v-model="imagen">
                        <img width="100" :src="imagen" alt="">
                    </div>
                    <button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
                </form>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-section">
              <img src="imagenes/Logo.png" alt="Inventario" width="100%" height="100%">
              <div class="redes-sociales">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
              </div>
            </div>
            <div class="footer-section">
              <p><i class="fa-solid fa-envelope"></i> Contacto: <a href="mailto:info@inventario.com">info@inventario.com</a></p>
            </div>
            <div class="footer-section">
              <a href="index.html">HOME</a>
              <a href="producto-create.html">AGREGAR PRODUCTO</a>
              <a href="productos-update.html">EDITAR PRODUCTO</a>
              <a href="productos-delete.html">ELIMINAR PRODUCTO</a>
            </div>
          </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"> </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"> </script>
        <!-- <script src="./js/main.js"></script> -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/producto-edit.js"></script>
    </body>

    </html>
